@charset "utf-8";

/* TODO: Clean up */

/* CSS Document */
body {
  background: linear-gradient(to bottom, #3a8edb 0%, #65b84d 60%, #0a2c4f 100%);
  color: #000;
  font-size: 130%;

  /* Disable Text Select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-bottom: env(safe-area-inset-bottom);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  inset: 0;

  position: fixed;       /* Prevent scroll positioning */
  overscroll-behavior: none; /* Prevent pull-to-refresh on Android */
  -webkit-overflow-scrolling: auto; /* Disable momentum scrolling on iOS */
}

/* Container for light rays */
.light-rays {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

/* light rays */
.ray {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.05) 60%,
    transparent 100%
  );
  transform: rotate(var(--angle));
  filter: blur(5px);
  opacity: 0.4;
}

svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.curve {
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 120;
  filter: blur(40px);
}

.ray:nth-child(1) { --angle: 70deg; left: -20%; opacity: 0.35; }
.ray:nth-child(2) { --angle: 80deg; left: -80%; opacity: 0.25; }
.ray:nth-child(3) { --angle: 110deg; left: -45%; opacity: 0.2; }

a {
  color: #000;
}

img {
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  user-drag: none;
  -webkit-user-drag: none;
}

.icon {
  text-align: center;
  font-family: 'Pixelated MS Sans Serif', Arial;
  font-size: 15px;
  width: 64px;
  height: 100px;
  margin: 16px;
  float: left;
  overflow: hidden;
}

#mainMenu {
  position: absolute;
  left: 5px;
  width: 450px;
  max-width: 100%;
  /*overflow: overlay;*/
  z-index: 100;
}

#mainMenuLeft {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  float: left;
}

#mainMenuCategories {
  width: 130px;
  float: left;
}

#menu_content,
#menu-content-image {
  margin-left: 5px;
}

#menu-content-image {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
  align-self: right;
  display: block;
}

#mainMenuCategoriesImage {
  width: 50px;
  height: 50px;
  margin-left: 35px;
  margin-top: -25px;
  margin-bottom: 25px;
  padding: 5px;
}

#mainMenuCategoriesImageTag {
  border-radius: 4px;
}

.mainMenuCategoriesItem {
  color: #ffffff;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 3px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  #mainMenuCategories {
    display: none !important;
  }

  #mainMenu {
      width: 320px;
  }
}

.menuButton {
  border-radius: 5px;
  width: 98%;
  text-align: left;
  border: none;
  cursor: pointer;
  margin-bottom: 2px;
}

.menuButton:hover {
  background: var(--button-gradient-hovered);
  border: var(--button-border);
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  border-color: var(--button-border-color-active);
}

.menuText {
  font-size: larger;
}

.menuIcon {
  width: 25px;
  margin: 5px;
  float: left;
}

#taskbar {
  position: absolute;
  left: -5px;
  width: 100vw;
  width: -webkit-calc(100% + 10px);
  width: -moz-calc(100% + 10px);
  width: calc(100% + 10px);
  height: 50px;
  z-index: 99;
}

.taskElement {
  float: left;
  text-align: center;
  height: 46px;
  margin-left: 5px;
  margin-top: 2px;
  width: 46px;
}

.taskElementImg {
  width: 42px;
  margin: 2px;
}

#btnClock {
  float: right;
  height: 30px;
}

button.active {
  box-shadow:
    inset -1px -1px #ffffff,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
}

@media only screen and (max-width: 1000px) {
  .window,
  button,
  input,
  label,
  option,
  select,
  textarea,
  ul.tree-view {
    font-size: 20px;
  }

  #menuWind {
    width: 40vw;
  }
}

.window-body {
  max-width: 100%;
}

.nav-link {
  width: 20px;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}

#nav-clock {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 10px;
  margin-right: 12px;
  text-align: center;
  float: right;
}

.desktop-icon-image {
  width: 100%;
  cursor: pointer;
}
